name: Build and Deploy Node Express to AWS EC2

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  PROJECT_NAME: jonghun_project
  BUCKET_NAME: jonghun-cicd-bucket
  CODE_DEPLOY_APP_NAME: nodeZzang_cicd
  DEPLOYMENT_GROUP_NAME: nodeZzang_instance
  DATABASE_URL: ${{ secrets.DATABASE_URL }}
  PORT: ${{ secrets.PORT }}
  COOKIE_SECRET: ${{ secrets.COOKIE_SECRET }}
  JWT_SECRET: ${{ secrets.JWT_SECRET }}
  REFRESH_TOKEN_SECRET: ${{ secrets.REFRESH_TOKEN_SECRET }}
  MONGODB_URI: ${{ secrets.MONGODB_URI }}
  KAKAO_ID: ${{ secrets.KAKAO_ID }}
  REDIRECT_URL: ${{ secrets.REDIRECT_URL }}
  GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
  GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}

  REACT_APP_GOOGLE_CLIENT_ID: ${{ secrets.REACT_APP_GOOGLE_CLIENT_ID }}
  REACT_APP_KAKAO_CLIENT_ID: ${{ secrets.REACT_APP_KAKAO_CLIENT_ID }}
  REACT_APP_SERVER_URL: ${{ secrets.REACT_APP_SERVER_URL }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Create backend .env.production file
        run: |
          cd nodeZzang/backend
          echo 'PORT=${{ secrets.PORT }}' > .env.production
          echo 'COOKIE_SECRET=${{ secrets.COOKIE_SECRET }}' >> .env.production
          echo 'JWT_SECRET=${{ secrets.JWT_SECRET }}' >> .env.production
          echo 'REFRESH_TOKEN_SECRET=${{ secrets.REFRESH_TOKEN_SECRET }}' >> .env.production
          echo 'DATABASE_URL=${{ secrets.DATABASE_URL }}' >> .env.production
          echo 'MONGODB_URI=${{ secrets.MONGODB_URI }}' >> .env.production
          echo 'KAKAO_ID=${{ secrets.KAKAO_ID }}' >> .env.production
          echo 'REDIRECT_URL=${{ secrets.REDIRECT_URL }}' >> .env.production
          echo 'GOOGLE_CLIENT_ID=${{ secrets.GOOGLE_CLIENT_ID }}' >> .env.production
          echo 'GOOGLE_CLIENT_SECRET=${{ secrets.GOOGLE_CLIENT_SECRET }}' >> .env.production


      - name: Create frontend .env.production file
        run: |
          cd nodeZzang/frontend
          echo 'REACT_APP_SERVER_URL=${{ secrets.REACT_APP_SERVER_URL }}' > .env.production
          echo 'REACT_APP_GOOGLE_CLIENT_ID=${{ secrets.REACT_APP_GOOGLE_CLIENT_ID }}' >> .env.production
          echo 'REACT_APP_KAKAO_CLIENT_ID=${{ secrets.REACT_APP_KAKAO_CLIENT_ID }}' >> .env.production

      
      - name: Make Zip File
        run: |
          zip -qq -r ./$GITHUB_SHA.zip .

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_PRIVATE_ACCESS_KEY }}
          aws-region: ap-northeast-2

      - name: Upload to S3
        run: |
          aws s3 cp ./$GITHUB_SHA.zip s3://$BUCKET_NAME/$PROJECT_NAME/$GITHUB_SHA.zip

      - name: Code Deploy To EC2 instance
        run: aws deploy create-deployment 
                --application-name $CODE_DEPLOY_APP_NAME 
                --deployment-config-name CodeDeployDefault.AllAtOnce
                --deployment-group-name $DEPLOYMENT_GROUP_NAME 
                --s3-location bucket=$BUCKET_NAME,bundleType=zip,key=$PROJECT_NAME/$GITHUB_SHA.zip
